.App {
  background-color: #151515;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu-text:hover {
  color: #ffffff !important;
  font-size: 110%;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bg-main {
  background: #151515;
  opacity: 0.5;
}

.game-menu span {
  position: absolute;
  bottom: 0;
  right: 0;
}

.game-container {
  background-image: url("./img/bg_game.png");
  background-position: center;
  height: 100vh;
  display: flex;
}

.game-card {
  height: 100%;
  background-color: #ffffffc7;
  border-width: 1px;
  border-color: white;
  border-radius: 1rem;
}

.btn-game {
  width: 15rem;
  border-radius: 2rem;

  opacity: 1 !important;
}

.game-subtitle {
  font-size: 2rem;
  font-weight: 600;
}

.game-info {
  font-size: 1.5rem;
}
.pin-block{
  font-size: 2rem;
}
.pin-input {
  font-size: 2rem;
  width: 20rem;
  letter-spacing: 2rem;
  text-align: center;
  /* background-color: #ffffff0; */
  /* border-color: white; */
  border-radius: 3rem;
  padding-left: 3rem;
}